/* Default
-----------------------------------------------------*/
	* {
			outline: none !important;
			-webkit-box-sizing : border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		::-moz-selection {
		   background-color: #2ABAEF;
		   color: #000;
		}
		::selection {
		 background-color: #2ABAEF;
		 color: #000;
		}
		html,
		body {
			width: 100%;
			height: 100%;
		}
		body {
			background-color: #ffffff;
			overflow-x: hidden;
		}
		svg, 
		img {
			display: block;
			vertical-align: baseline;
		}
		a {
			cursor: pointer;
		}
		p {
			margin-bottom: 8px;
		}
		a:link,
		a:visited,
		a {
			text-decoration: none;
		}
		ul {
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			padding-left: 20px;
		}
		li {
			margin: 0;
			padding: 0;
			margin-bottom: 3px;
		}
		.table {
			display: table;
		}
		.cell {
			display: table-cell;
		}
		.clearfix:before,
		.clearfix:after {
	   	clear: both;
	    content: " ";
	    display: block;
	    height: 0;
	    visibility: hidden;
		}
/*---------------------------------------------------*/

/*Tab -----------------------------------------------*/
	.div_wrapper .js-tab-content {
		width: 100%;
		overflow: hidden;
	}
	.div_wrapper .tab-links {
		width: 30%;
		float: left;
		background-color: #2ECC71;
		height: 500px;
		padding: 110px 30px;
	}
	.div_wrapper .tab-links a {
		display: inline-block;
		padding: 20px 70px;
		background-color: #ffffff;
		margin-bottom: 30px;
		color: #000000;
	}
	.div_wrapper .tab-links .tabs:last-child a {
		margin-bottom: 0px;
	}
	.div_wrapper .tab-content {
		width: 70%;
		float: right;
		height: 500px;
		background-color: #F39C12;
		padding: 30px 20px;
    padding-top: 150px;
    padding-bottom: 100px;
	}
	.div_wrapper .tab-content .tb-contents span {
		display: block;
		color: #ffffff;
		font-size: 20px;
	}
	.div_wrapper .tab-content .tb-contents.tab-2 span {
		overflow-y: scroll;
	}
	.div_wrapper .tab-content .tb-contents {
		height: 0;
		overflow: hidden;
	}
	.div_wrapper .tab-content .tb-contents.active {
		height: auto;
	}
/*---------------------------------------------------*/
